[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/richardMRodri26/client-gateway.git
[submodule "orders-microservices"]
	path = orders-microservices
	url = https://github.com/richardMRodri26/orders-ms.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Richardrodri26/product-ms.git
