[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/richardMRodri26/client-gateway.git
[submodule "orders-microservices"]
	path = orders-microservices
	url = https://github.com/richardMRodri26/orders-ms.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Richardrodri26/product-ms.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/richardMRodri26/payments-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/richardMRodri26/auth-ms.git
